<!doctype html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PPKPT UNIVERSITAS YARSI PRATAMA</title>
    <!-- arahkan ke folder static dengan ../ -->
    <link rel="stylesheet" href="../static/styles.css" />
  </head>
  <body>
    <div class="phone-box">
      <!-- Logo -->
      <div class="logo">
        <img
          src="../static/logo.png"
          alt="Logo PPKPT Yarsi Pratama University"
        />
      </div>

      <!-- Judul -->
      <div class="title">
        <h1>Selamat Datang di<br />Layanan PPKPT & Kemahasiswaan</h1>
      </div>

      <!-- Website -->
      <section class="services">
        <h2>Website</h2>
        <div class="service-card">
          <img src="../static/website.png" alt="Website" />
          <div class="service-info">
            <p>Website</p>
          </div>
          <a href="/pelaporan" target="_blank" class="wa-link">
            <img src="../static/link.jpg" alt="Link ke Website" />
          </a>
        </div>
      </section>

      <!-- Layanan -->
      <section class="services">
        <h2>Layanan</h2>
        <div class="service-card">
          <img src="../static/bulita.jpg" alt="Foto Petugas" />
          <div class="service-info">
            <p>Ketua PPKPT</p>
          </div>
          <a href="https://wa.link/5lw67k" target="_blank" class="wa-link">
            <img src="../static/whatsapp.png" alt="WhatsApp" />
          </a>
        </div>

        <div class="service-card">
          <img src="../static/papras.jpg" alt="Foto Petugas" />
          <div class="service-info">
            <p>Sekretaris PPKPT</p>
          </div>
          <a href="https://wa.link/5lw67k" target="_blank" class="wa-link">
            <img src="../static/whatsapp.png" alt="WhatsApp" />
          </a>
        </div>
        <div class="service-card">
          <img src="../static/paysrin.jpg" alt="Foto Petugas" />
          <div class="service-info">
            <p>Anggota PPKPT</p>
          </div>
          <a href="https://wa.link/5lw67k" target="_blank" class="wa-link">
            <img src="../static/whatsapp.png" alt="WhatsApp" />
          </a>
        </div>
        <div class="service-card">
          <img src="../static/budila.jpg" alt="Foto Petugas" />
          <div class="service-info">
            <p>Anggota PPKPT</p>
          </div>
          <a href="https://wa.link/5lw67k" target="_blank" class="wa-link">
            <img src="../static/whatsapp.png" alt="WhatsApp" />
          </a>
        </div>
        <div class="service-card">
          <img src="../static/khanaya.jpg" alt="Foto Petugas" />
          <div class="service-info">
            <p>Anggota PPKPT</p>
          </div>
          <a href="https://wa.link/5lw67k" target="_blank" class="wa-link">
            <img src="../static/whatsapp.png" alt="WhatsApp" />
          </a>
        </div>
      </section>

      <!-- Sosial Media -->
      <section class="services">
        <h2>Sosial Media</h2>
        <div class="service-card">
          <img src="../static/instagram.jpg" alt="Instagram" />
          <div class="service-info">
            <p>Instagram</p>
          </div>
          <a
            href="https://www.instagram.com/universitasyarsipratama/"
            target="_blank"
            class="wa-link"
          >
            <img src="../static/link.jpg" alt="Link Instagram" />
          </a>
        </div>

        <div class="service-card">
          <img src="../static/tiktok.png" alt="TikTok" />
          <div class="service-info">
            <p>TikTok</p>
          </div>
          <a
            href="https://www.tiktok.com/@universitasyarsipratama"
            target="_blank"
            class="wa-link"
          >
            <img src="../static/link.jpg" alt="Link TikTok" />
          </a>
        </div>
      </section>
    </div>
  </body>
</html>
